/****** General Styles *********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* theme */
  --grey: #d3d2d2;
  --light-grey: #eeeeee;
  /* Branding */
  --primary: #78020a;
  /* Typeface */
  --font: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: var(--font);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-family: var(--font);
}

/****** Header Style *********/

@media (min-width: 320px) {
  header {
    font-size: 118.8%;
    width: 100%;
  }

  .header_container {
    padding: 5px 12px;
    align-items: center;
  }

  .socialmedia_container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .socialmedia_text {
    font-size: 14px;
    padding-right: 12px;
  }

  .instagram_icon {
    width: 110%;
  }

  .icons_container {
    display: inline-block;
    position: absolute;
    right: 6px;
  }

  .icons_container a {
    padding-left: 3px;
    padding-right: 3px;
  }

  .divider {
    display: none;
  }
}
@media (min-width: 800px) {
  header {
    font-size: 131.3%;
  }
  .socialmedia_text {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socialmedia_text {
    font-size: 12px;
    font-weight: 300;
  }

  .divider {
    display: flex;
  }
}
/****** Navigation Style *********/
.nav_container {
  width: 95%;
}

.brand {
  left: 49px;
  top: 75px;
}

@media (min-width: 320px) {
  #menu {
    display: none;
  }

  .nav_container {
    padding: 8px 12px;
  }

  .brand img {
    width: 32%;
  }
  .searchbar_container {
    border: 0.5px solid var(--grey);
    border-radius: 6px;
  }
  .searchbar_container input {
    width: 90%;
    border: 0;
    outline: none;
  }
  .searchbar_container button {
    border: 0;
  }
}

@media (min-width: 700px) {
  .brand img {
    width: 16%;
  }
}

@media (min-width: 1200px) {
  #menu {
    display: flex;
  }
  .brand img {
    width: 90%;
  }
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .searchbar_container {
    width: 15%;
  }
  .searchbar_container input {
    width: 90%;
    border: 0;
    outline: none;
  }
  .nav_container ul {
    gap: 1.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }

  .nav_container a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    border: none;
  }

  .target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
  }
  .nav_container a:hover {
    border-color: black;
    border-bottom: 2px solid currentColor;
    transition: right 0.3s ease;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    z-index: 6;
    margin-bottom: -2px;
  }
}

/****** Hero & Slider Styles ********/

@media (min-width: 320px) {
  .hero_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .hero_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 100%;
    background-color: var(--primary);
  }

  .hero_header p {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 2px;
  }

  .hero_slider_container {
    width: 100%;
    height: 130px;
    position: relative;
    margin: auto;
  }

  .image_slider {
    display: none;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .dot_container {
    text-align: center;
  }

  .dot {
    cursor: pointer;
    height: 8px;
    width: 50px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }
}

@media (min-width: 700px) {
  .hero_section {
    padding-top: 8px;
  }
  .hero_slider_container {
    width: 100%;
    height: 300px;
  }
  .dot {
    height: 10px;
    width: 60px;
    border-radius: 12px;
  }
}

@media (min-width: 1200px) {
  .hero_slider_container {
    width: 100%;
    height: 420px;
  }
  .dot {
    height: 5px;
    width: 60px;
    border-radius: 12px;
  }
}

/****** Banner Slider Styles ********/

@media (min-width: 320px) {
  #banner-carrousel {
    padding-top: 20px;
  }
}

/****** Product Carousel Styles ********/

@media (min-width: 320px) {
  .products_container {
    width: 100%;
  }
  .products_text_head {
    text-transform: uppercase;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 14px;
  }
  .container {
    width: 100%;
    height: 380px;
  }

  .slider {
    margin: 0 40px;
    height: 80%;
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: auto;
    padding-top: 40px;
  }

  .slider .image-items {
    height: 80%;
    width: 100%;
    margin: auto;
  }

  .slider .image-items .image {
    height: 90%;
  }

  .slider .image-items .image img {
    height: 100%;
    display: block;
    width: 60%;
    overflow: visible;
    object-fit: cover;
    margin: auto;
  }

  .text_container {
    text-align: center;
    align-items: center;
  }

  .text_container div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .text_container p {
    text-decoration: line-through;
    font-size: 14px;
    text-align: center;
    padding-right: 8px;
  }

  .text_container span {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }

  .arrowButton {
    position: absolute !important;
    top: 50% !important;
    color: black !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    background-color: white !important;
    padding: 10px !important;
  }

  .arrowButton.left {
    left: 0 !important;
  }

  .arrowButton.right {
    right: 0 !important;
  }

  .arrowButton::after {
    font-size: 20px !important;
  }
}

@media (min-width: 700px) {
  .products_container {
    padding: 0px 12px;
  }
  .container {
    width: 100%;
    height: 390px;
    margin: auto;
  }

  .slider {
    margin: 0 40px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    padding-top: 40px;
  }
}

@media (min-width: 1200px) {
  .products_container {
    width: 100%;
  }
}
