/****** General Styles *********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* theme */
  --grey: #d3d2d2;
  --light-grey: #eeeeee;
  /* Branding */
  --primary: #78020a;
  /* Typeface */
  --font: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: var(--font);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-family: var(--font);
}
footer {
  padding-top: 50px;
}

/****** Header Style *********/

@media (min-width: 320px) {
  header {
    font-size: 118.8%;
    width: 100%;
  }

  .header_container {
    padding: 5px 12px;
    align-items: center;
  }

  .socialmedia_container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .socialmedia_text {
    font-size: 14px;
    padding-right: 12px;
  }

  .instagram_icon {
    width: 110%;
  }

  .icons_container {
    display: inline-block;
    position: absolute;
    right: 6px;
  }

  .icons_container a {
    padding-left: 3px;
    padding-right: 3px;
  }

  .divider {
    display: none;
  }
}
@media (min-width: 800px) {
  header {
    font-size: 131.3%;
  }
  .socialmedia_text {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socialmedia_text {
    font-size: 12px;
    font-weight: 300;
  }

  .divider {
    display: flex;
  }
}
/****** Navigation Style *********/
.nav_container {
  width: 95%;
}

.brand {
  left: 49px;
  top: 75px;
}

@media (min-width: 320px) {
  #menu {
    display: none;
  }

  .nav_container {
    padding: 8px 12px;
  }

  .brand img {
    width: 32%;
  }
  .searchbar_container {
    width: 100%;
    display: inline-flex;
    padding-top: 12px;
  }

  .searchbar_container img {
    padding-left: 5px;
  }

  .searchbar_container button {
    border: 0.5px solid #000000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
    background-color: transparent;
  }

  .searchbar_container form {
    width: 100%;
    height: 30px;
    border: none;
  }
  .searchbar_container input {
    width: 100%;
    font-size: 12px;
    font-weight: 200;
    border: 0.5px solid #000000;
    align-items: center;
    padding: 8px;
    outline: none;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .searchbar_container input::placeholder {
    color: grey;
    font-family: var(--font);
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  .brand img {
    width: 16%;
  }
}

@media (min-width: 1200px) {
  #menu {
    display: flex;
  }
  .brand img {
    width: 90%;
  }
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .searchbar_container {
    width: 18%;
  }

  .nav_container ul {
    gap: 1.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }

  .nav_container a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    border: none;
  }

  .target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
  }
  .nav_container a:hover {
    border-color: black;
    border-bottom: 2px solid currentColor;
    transition: right 0.3s ease;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    z-index: 6;
    margin-bottom: -2px;
  }
}

/****** Hero & Slider Styles ********/

@media (min-width: 320px) {
  .hero_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .hero_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 100%;
    background-color: var(--primary);
  }

  .hero_header p {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 2px;
  }

  .hero_slider_container {
    width: 100%;
    height: 130px;
    position: relative;
    margin: auto;
  }

  .image_slider {
    display: none;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .dot_container {
    text-align: center;
  }

  .dot {
    cursor: pointer;
    height: 8px;
    width: 50px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }
}

@media (min-width: 700px) {
  .hero_section {
    padding-top: 8px;
  }
  .hero_slider_container {
    width: 100%;
    height: 300px;
  }
  .dot {
    height: 10px;
    width: 60px;
    border-radius: 12px;
  }
}

@media (min-width: 1200px) {
  .hero_slider_container {
    width: 100%;
    height: 420px;
  }
  .dot {
    height: 5px;
    width: 60px;
    border-radius: 12px;
  }
}

@media (min-width: 1300px) {
  .hero_slider_container {
    width: 100%;
    height: 640px;
  }
  .dot {
    height: 5px;
    width: 60px;
    border-radius: 12px;
  }
}

/****** Banner Slider Styles ********/

@media (min-width: 320px) {
  #banner-carrousel {
    padding-top: 20px;
  }
}

@media (min-width: 1300px) {
  #banner-carrousel {
    padding-top: 30px;
  }
}

/****** Product Carousel Styles ********/

@media (min-width: 320px) {
  .products_container {
    width: 100%;
    padding: 0px 12px;
  }
  .products_text_head {
    text-transform: uppercase;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 14px;
  }
  .container {
    width: 100%;
    height: 480px;
  }

  .slider {
    margin: 0 40px;
    height: 80%;
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: auto;
    padding-top: 40px;
  }

  .slider .image-items {
    height: 80%;
    width: 100%;
    margin: auto;
  }

  .slider .image-items .image {
    height: 90%;
  }

  .slider .image-items .image img {
    height: 100%;
    display: block;
    width: 60%;
    overflow: visible;
    object-fit: cover;
    margin: auto;
  }

  .text_container {
    text-align: center;
    align-items: center;
  }

  .text_container div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .text_container p {
    text-decoration: line-through;
    font-size: 14px;
    text-align: center;
    padding-right: 8px;
  }

  .text_container span {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }

  .arrowButton {
    position: absolute !important;
    top: 50% !important;
    color: black !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    background-color: white !important;
    padding: 10px !important;
  }

  .arrowButton.left {
    left: 0 !important;
  }

  .arrowButton.right {
    right: 0 !important;
  }

  .arrowButton::after {
    font-size: 20px !important;
  }
}

@media (min-width: 700px) {
  .products_container {
    padding: 30px 12px;
  }
  .container {
    width: 100%;
    height: 390px;
    margin: auto;
  }

  .slider {
    margin: 0 40px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    padding-top: 40px;
  }
}

@media (min-width: 1200px) {
  .products_container {
    width: 100%;
  }
}

/****** Categories Styles ********/

@media (min-width: 320px) {
  .categories_container {
    width: 100%;
    padding: 0px 12px;
  }

  .categories_text_head {
    text-transform: uppercase;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 14px;
  }

  .categories_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
  }

  .grid-item img {
    width: 100%;
  }

  .grid-item span {
    text-decoration-line: underline;
  }
}

@media (min-width: 700px) {
  .categories_container {
    padding: 30px 12px;
  }
  .categories_grid {
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .categories_grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
  }
}

/****** Footer Styles ********/

@media (min-width: 320px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr repeat(2, 1fr) 0.5fr;
    background-color: var(--light-grey);
    padding: 0;
  }
  .footer-subscription-area {
    background-color: var(--grey-footer);
    padding: 15px;
  }
  .footer-subscription-area h3 {
    font-size: 17px;
    font-weight: 400;
    color: black;
  }
  .footer-subscription-area p {
    padding-top: 8px;
    padding-bottom: 12px;
    color: black;
    font-size: 16px;
    font-weight: 300;
  }
  .footer-subscription-area form {
    width: 100%;
    height: 30px;
    border: none;
  }
  .footer-subscription-area input {
    width: 100%;
    font-size: 12px;
    font-weight: 200;
    border: 0.5px solid #000000;
    border-radius: 6px;
    align-items: center;
    padding: 8px;
  }

  .footer-subscription-area input::placeholder {
    color: grey;
    font-family: var(--font);
    font-size: 16px;
  }

  .footer-terms {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 4px;
  }
  .footer-terms input {
    width: 25px;
    cursor: pointer;
  }
  .footer-terms p {
    width: 100%;
    font-size: 14px;
  }

  .footer-subscription-area button {
    width: 100%;
    height: 35px;
    cursor: pointer;
    margin-top: 13px;
    border-radius: 6px;
    border: none;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    background-color: #d3d2d2;
    box-shadow: 0px 2px 5px 0px rgba(79, 78, 78, 0.75);
  }
  .footer-subscription-area button:hover {
    background-color: var(--light-grey);
    transition: background-color 0.5s;
  }

  .footer-info {
    background-color: white;
    padding: 15px;
  }

  .footer-info-all-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    color: grey;
    font-family: var(--font);
    font-size: 16px;
    background-color: white;
    padding: 0px;
    margin-top: 15px;
    font-weight: 300;
  }
  .footer-info-all-links li {
    padding: 5px 0px;
  }
  .footer-info-all-links li a {
    text-decoration: none;
    color: grey;
  }

  .footer-all-stores {
    background-color: white;
    padding: 15px;
  }
  .footer-all-stores-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    color: grey;
    font-family: var(--font);
    font-size: 16px;
    background-color: white;
    padding: 0px;
    margin-top: 15px;
    font-weight: 300;
  }

  .footer-all-stores-links li {
    padding: 5px 0px;
  }

  .footer-all-stores-links li a {
    text-decoration: none;
    color: grey;
  }

  .footer-social-media {
    display: grid;
    place-content: center;
    background-color: white;
    padding: 0px;
    text-align: center;
  }
  .footer-social-media h4 {
    font-weight: 400;
  }
  .footer-social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-social-media-icons img {
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .copyright {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    grid-template-columns: 2.2fr repeat(2, 2fr) 0.5fr;
    gap: 10px;
    background-color: var(--light-grey);
    height: 320px;
  }

  .footer-info {
    background-color: var(--light-grey);
  }

  .footer-info-all-links {
    background-color: var(--light-grey);
  }

  .footer-all-stores {
    background-color: var(--light-grey);
  }

  .footer-all-stores-links {
    background-color: var(--light-grey);
  }

  .footer-social-media {
    display: block;
    padding-top: 20px;
    background-color: var(--light-grey);
  }
}
